<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-sm-12 col-lg-12 col-xl-12">
    <div class="card" style="background-color: white">
      <div class="card-body">
        <div class="row">
          <div class="mx-auto">
            <img
              src="../../../assets/img/xmlIcon.svg"
              width="80px"
              height="80px"
              alt="XML Upload"
            />
          </div>
          <div class="mx-auto">
            <h3>Aadhaar XML</h3>
            <p>Upload your Aadhaar XML.</p>
          </div>
          <div class="mx-auto">
            <i
              class="fa fa-arrow-right"
              style="font-size: 50px"
              aria-hidden="true"
              (click)="gotoAadhaarXMLPage()"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="card" style="background-color: white">
      <div class="card-body">
        <div class="row">
          <div class="mx-auto">
            <img
              src="../../../assets/img/OTPIcon.svg"
              width="80px"
              height="80px"
              alt="XML Upload"
            />
          </div>
          <div class="mx-auto">
            <h3>Aadhaar OTP</h3>
            <p>Verifying your Aadhaar details.</p>
          </div>
          <div class="mx-auto">
            <i
              class="fa fa-arrow-right"
              style="font-size: 50px"
              aria-hidden="true"
              (click)="gotoAadhaarOTPPage()"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-sm-12 col-lg-12 col-xl-12">
    <div class="card" style="background-color: white">
      <div class="card-body">
        <div class="row">
          <div class="mx-auto">
            <img
              src="../../../assets/img/AaadhaarCapture.svg"
              width="80px"
              height="80px"
              alt="XML Upload"
            />
          </div>
          <div class="mx-auto">
            <h3>Aadhaar Capture</h3>
            <p>Click on camera to capture.</p>
          </div>
          <div class="mx-auto">
            <i
              class="fa fa-arrow-right"
              style="font-size: 50px"
              aria-hidden="true"
              (click)="gotoAadhaarUploadPage()"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
