<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title" style="text-align: center">Click on Enable Camera to Record Liveliness</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12" style="text-align: center;">
            <video id="video" width="320" height="240" autoplay></video>
            <br>
            <button id="start-camera" class="btn btn-success">Enable Camera</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align: center;">
            <button id="start-record" class="btn btn-primary">Start Recording</button>
            <button id="stop-record" class="btn btn-danger">Stop Recording</button>
            <a id="download-video" download="test.webm" class="btn btn-dark">Download Video</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>