<div class="row">
    <div class="col-md-12">
        <div class="card" style="text-align: center;">
            <div class="card-header" style="text-align: center; margin-top: 5%; margin-bottom: 3%;">
                <p class="card-category" style="text-align: center;">
                    Please take a moment to click on the below survey button. Your input will help us provide you with
                    the best experience.
                </p>
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-info" style="font-size: 22px;">Survey Form</button>
            </div>
        </div>
    </div>
</div>