<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="text-align: center; margin-top: 5%; margin-bottom: 3%;">
                <img src="../../../assets/img/thanks_success.svg" alt="">

                <h3 class="card-title">Thank You</h3>
                <p class="card-category" style="text-align: center">
                    Your Video-KYC process is Successfully completed.
                </p>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>